classes/*
*/.DS_Store
.DS_Store
bin/tst.clj
bin/tst.cljsh
bin/tst.txt
bin/upper.cljsh
.lein_repls
bin/t.sh
bin/q.clj
lein-repls-*.jar
bin/cljsh-testing.worksheet
bin/t.clj
lib/dev/*
lib/*
tags
bin/appify.sh
bin/cljsh-old.sh
bin/cljsh-test-old.sh
bin/cljsh-test.log
bin/cljsh2 old.sh
bin/doc2.cljsh
bin/env2cljsh.sh
bin/four.clj
bin/one.clj
bin/repls.sh
bin/t.txt
bin/testBinding.cljsh
bin/testInheritedThreadLocal.cljsh
bin/testInheritedThreadLocal2.cljsh
bin/testInheritedThreadLocal3.cljsh
bin/three.clj
bin/two.clj
examples/tmp.clj
.lein-deps-sum
bin/tst1.clj
bin/tst2.clj
bin/tst3.clj
bin/tst4.clj
bin/tupper
bin/upper-cljsh.sh
bin/upper-without-t.cljsh
docs/walk-thru-ubuntu.txt
tst.clj
tst.cljsh
tst.txt
upper.cljsh
